import { Create, useForm } from "@refinedev/antd";
import { Form, Input, Select, Checkbox, DatePicker, InputNumber } from "antd";
import { useEffect } from "react";

export const {{ class_name }}Create = () => {
  const { formProps, saveButtonProps } = useForm();

  useEffect(() => {
    const defaults = {
      {% for field in fields if field.default is not none and field.default != "" and not field.common %}
      {{ field.name }}: 
      {%- if field.type == 'str' or field.type == 'int' or field.type == 'float' -%}
      "{{ field.default }}"
      {%- elif field.type == 'bool' -%}
      {{ "true" if field.default else "false" }}
      {%- else -%}
      {{ field.default }}
      {%- endif -%},
      {% endfor %}
    };
    formProps.form?.setFieldsValue(defaults);
  }, [formProps.form]);  

  const handleFinish = (values: any) => {
    const processed = {
      ...values,
      {% for field in fields if field.form_type == "checkbox" and field.options %}
      {{ field.name }}: (values.{{ field.name }} || []).join(","),
      {% endfor %}
    };
    return formProps.onFinish?.(processed);
  };

  return (
    <Create saveButtonProps={saveButtonProps}>
      <Form {...formProps} layout="vertical" onFinish={handleFinish}>
      {% for field in fields if not field.common %}
        <Form.Item
          name="{{ field.name }}"
          label="{{ field.description if field.description else field.name | capitalize }}"
          {% if field.form_type == 'checkbox' and not field.options %}
          valuePropName="checked"
          {% endif %}
          rules={[
            {% set rules = [] %}
            {% if field.required %}
            {% set _ = rules.append("{ required: true, message: '请输入" ~ (field.description or field.name) ~ "' }") %}
            {% endif %}
            {% if field.type == 'str' and field.max_length and field.max_length > 0 %}
            {% set _ = rules.append("{ max: " ~ field.max_length|string ~ ", message: '最多输入 " ~ field.max_length|string ~ " 个字符' }") %}
            {% endif %}
            {% if field.type == 'int' and field.form_type == 'input' %}
            {% set _ = rules.append('{ type: "number", message: "必须是数字" }') %}
            {% endif %}
            {{ rules | join(",\n            ") }}
          ]}
        >
          {% if field.form_type == "textarea" %}
          <Input.TextArea rows={4} />

          {% elif field.form_type == "select" and field.options %}
          <Select
            options={[
              {% for option in field.options %}
                { label: "{{ option.label }}", value: "{{ option.value }}" }{% if not loop.last %},{% endif %}
              {% endfor %}
            ]}
          />

          {% elif field.form_type == "checkbox" and field.options %}
          <Checkbox.Group
            options={[
              {% for option in field.options %}
                { label: "{{ option.label }}", value: "{{ option.value }}" }{% if not loop.last %}, {% endif %}
              {% endfor %}
            ]}
          />

          {% elif field.form_type == "date" %}
          {% raw %}<DatePicker style={{ width: "100%" }} />{% endraw %}

          {% else %}
            {% if field.type == "int" %}
              <InputNumber style={{ '{{' }} width: "100%" {{ '}}' }} />
            {% else %}
              <Input />
            {% endif %}
          {% endif %}
        </Form.Item>
      {% endfor %}
      </Form>
    </Create>
  );
};
