#paste this code to frjonted/src/i18n_zh.ts

...
    {{ module_name }}: {
        titles: {
            list: "{{ label }} List",
            create: "Create {{ label }}",
            edit: "Edit {{ label }}",
            show: "{{ label }} Details",
        },
    },
...