.vscode
.env
.env.test
.env.staging
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/backend/.venv/
/frontend/node_modules/
/frontend/dist/ 
/frontend/.next/
/frontend/.nuxt/
/backend/codegen/venv/
/backend/codegen/.venv/
/backend/codegen/target/