import { Edit, useForm } from "@refinedev/antd";
import { Form, Input } from "antd";

export const {{ class_name }}Edit = () => {
  const { formProps, saveButtonProps } = useForm();

  return (
    <Edit saveButtonProps={saveButtonProps}>
      <Form {...formProps} layout="vertical">
{% for field in fields if not field.common %}
        <Form.Item
          name="{{ field.name }}"
          label="{{ field.description if field.description else field.name | capitalize }}"
          {% if field.primary_key or field.default is not none %}
          rules={[]}
          {% else %}
          rules={[{ required: true }]}
          {% endif %}
        >
          <Input {% if field.name == "code" %}disabled{% endif %} />
        </Form.Item>
{% endfor %}
      </Form>
    </Edit>
  );
};
