import { Show } from "@refinedev/antd";
import { useShow } from "@refinedev/core";
import { Typography } from "antd";
import dayjs from "dayjs";

const { Text } = Typography;

export const {{ class_name }}Show = () => {
  const { queryResult } = useShow();
  const { data, isLoading } = queryResult;
  const record = data?.data;

  return (
    <Show isLoading={isLoading}>
{% for field in fields %}
      <Text strong>{{ field.description if field.description else field.name | capitalize }}:</Text>
      <Text>
        {
          {% if field.form_type == "checkbox" and field.options %}
          (record?.{{ field.name }} || "")
            .split(",")
            .map(val =>
              {{ field.options|tojson }}.find(opt => opt.value == val || opt.value == Number(val))?.label
            )
            .filter(Boolean)
            .join(", ")
          {% elif field.form_type == "select" and field.options %}
          {{ field.options|tojson }}.find(opt => opt.value === record?.{{ field.name }})?.label || record?.{{ field.name }}
          {% elif field.form_type == "date" %}
          record?.{{ field.name }} ? dayjs(record.{{ field.name }}).format("YYYY-MM-DD") : ""
          {% else %}
          record?.{{ field.name }}
          {% endif %}
        }
      </Text>
      <br />
{% endfor %}
    </Show>
  );
};
